.bannerLogin {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(C:\Users\faria\OneDrive\Documentos\Dev\Front\gerenciador-frotas-ui\public\Images\frotas.png);
  background-size: cover;
}
